.All-Guitars-Page{
    display: flex;
    align-items: center;
    margin:0%;
    height:100%;
}
.single-guitar{
    background-color: white;
    margin:0em;
    padding:2em;
    border-bottom: 2em;
    border-color: blue;
    
}
h1{
    margin: 0;
}
h3 {
    margin:0;
}
