.all-guitars-page{
    display: grid;
    align-items: center;
    /* margin-left:30%; */
    padding:1em;
    border-bottom: 2em;
    border-color: blue;
}
.single-guitar{
    display: grid;
    align-items: center;
    margin-left:10%;
    padding:1em;
    border-bottom: 2em;
    border-color: blue;
    
}
h1{
    margin: 0;
}
h3 {
    margin:0;
}


.formButton{
    display:flex;
    margin-left: 45%;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }