@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    
.nav-bar{

    /* display:flex;
    justify-content: center;
    align-items: center; */
    background-color: black;
    padding-bottom: 2vh;
    font-family: Roboto ;
    border-bottom: 2em;
    border-color: blue;

}

.title{
    left:40vh;
    background-color: black;
    color:tomato;
    text-align: center;
    margin: 0vh;
    font-size: 7vh;
    /* text-decoration: underline wavy ; */
}

.nav-bar-buttons{
    /* position:absolute; */

    display:flex; 
    justify-content: space-around;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.nav-button{
    background-color: black;
    font-size: 5vh;
    color:tomato;
}